[
	{
		"command" : "block",
		"hashes" : 
		{
			"MD5" : "22819EDKIE8VJDJF73NSDVDG92A7138",
			"SHA1" : "33419EDKIE8VJDJF73NSDVDG92A7138"
		},
		"id" : "2003967225922675",
		"path" : "C:\\Program Files\\Mozilla Firefox\\firefox0.exe",
		"pid" : 24128,
		"ppid" : 57087,
		"reason" : "process reason #1",
		"source" : "RES",
		"status" : "C",
		"type" : "process"
	},
	{
		"command" : "block",
		"hashes" : 
		{
			"SHA1" : "33419EDKIE8VJDJF73NSDVDG92A7138",
			"SHA256" : "22819EDKIE8VJDJF73NSDVDG92A7138"
		},
		"id" : "2003967228358283",
		"path" : "C:\\Program Files\\Mozilla Firefox\\firefox1.exe",
		"pid" : 266628,
		"ppid" : 52387,
		"reason" : "process reason #2",
		"source" : "RES",
		"status" : "C",
		"type" : "process"
	},
	{
		"command" : "block",
		"hashes" : 
		{
			"MD5" : "33419EDKIE8VJDJF73NSDVDG92A7138",
			"SHA256" : "22819EDKIE8VJDJF73NSDVDG92A7138"
		},
		"id" : "2003967228431598",
		"path" : "C:\\Program Files\\Mozilla Firefox\\firefox2.exe",
		"pid" : 24458,
		"ppid" : 54387,
		"reason" : "process reason #3",
		"source" : "RES",
		"status" : "C",
		"type" : "process"
	},
	{
		"command" : "block",
		"id" : "2004027806450246",
		"path" : "C:\\Program Files\\notepad.exe",
		"reason" : "file aaaaa",
		"source" : "RES",
		"status" : "C",
		"type" : "file"
	},
	{
		"command" : "block",
		"id" : "2004027806489607",
		"path" : "C:\\Program FIles\\antivirus.exe",
		"reason" : "file bbbbb",
		"source" : "RES",
		"status" : "C",
		"type" : "file"
	},
	{
		"command" : "delete",
		"id" : "2004058359376957",
		"reason" : "registry aaaa",
		"registry" : "HKLM\\SOFTWARE\\Microsoft\\Windwos\\CurrentVersion\\Run\\key#1",
		"source" : "RES",
		"status" : "C",
		"type" : "registry"
	},
	{
		"command" : "delete",
		"id" : "2004058359427136",
		"reason" : "registry bbbb",
		"registry" : "HKLM\\SOFTWARE\\Microsoft\\Windwos\\CurrentVersion\\Run\\key#2",
		"source" : "RES",
		"status" : "C",
		"type" : "registry"
	},
	{
		"command" : "delete",
		"id" : "2004080219116132",
		"ip" : "192.168.88.23",
		"ip_type" : "IP4",
		"port" : 6756,
		"reason" : "malicious net#A",
		"source" : "RES",
		"status" : "C",
		"type" : "ip"
	},
	{
		"command" : "delete",
		"id" : "2004080219169615",
		"ip" : "192.168.88.124",
		"ip_type" : "IP4",
		"port" : 1234,
		"reason" : "malicious net#B",
		"source" : "RES",
		"status" : "C",
		"type" : "ip"
	},
	{
		"command" : "delete",
		"id" : "2004080219191549",
		"ip" : "fe80::59ae:cfbf:bd10:ff3e%7",
		"ip_type" : "IP6",
		"port" : 443,
		"reason" : "malicious net#A",
		"source" : "RES",
		"status" : "C",
		"type" : "ip"
	}
]

